<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03-导航完成之前获取数据</title>
</head>
<body>
<div id="app"></div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/vue-router/dist/vue-router.js"></script>
<script src="../node_modules/axios/dist/axios.js"></script>
<script>
  const Test = {
    template: `
        <div>我是测试页</div>
      `
  }

  const User = {
    data() {
      return {
        num: 0,
        msg: '',
        msg1: '',
        confirm: true,
        error: null,
        user: null
      }
    },
    template: `
      <div>
        <div>{{num}}</div>
        <input type="text" v-model="msg">
        <p>{{msg1}}</p>
        <button @click="save">保存</button>
        <div class="error" v-if="error">{{error}}</div>
        <div class="user" v-else-if="user">{{user}}</div>
      </div>
    `,
    methods: {
      save() {
        this.confirm = false
        localStorage.msg = this.msg
        this.msg1 = this.msg
        this.msg = ''
      },
      setData(data) {
        this.user = data
      },
      setError(error) {
        this.error = error
      }
    },
    created() {
      this.msg1 = localStorage.msg || ''
    },
    beforeRouteEnter(to, from, next) {
      // 在渲染该组件的对应路由被confirm前调用
      // 不！能！获取组件实例的this
      // 因为当守卫执行前，组件实例还没被创建

      axios.defaults.baseURL = 'https://api.github.com'
      axios.get(`/user/${to.params.id}`)
        .then(res => next(vm => vm.setData(res.data.login)))
        .catch(err => next(vm => vm.setError(err)))
    },
    beforeRouteUpdate(to, from, next) {
      // 在当前路由改变，但是该组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径/users/:id，在/users/1和/users/2之间跳转的时候
      // 由于会渲染同样的User组件，因此组件实例会被复用，而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例this
      this.user = null
      this.$axios.get(`/user/${to.params.id}`)
        .then(res => {
          this.setData(res.data.login)
          next()
        })
        .catch(err => {
          this.setError(err)
          next()
        })
    },
    beforeRouteLeave(to, from, next) {
      // 导航离开该组件的对应路由时调用
      // 可以访问组件实例的this
      if (this.msg && this.confirm) {
        let confirm = window.confirm('你需要保存数据？')
        if (confirm) {
          this.save()
        }
        next(confirm)
      } else {
        next()
      }
    }
  }

  Vue.use(VueRouter)
  const router = new VueRouter({
    routes: [
      {
        path: '/test',
        component: Test
      },
      {
        name: 'user',
        path: '/user/:id',
        component: User
      }
    ]
  })

  const App = {
    template: `
      <div>
        <router-link to="/test">测试</router-link>
        <router-link :to="{name: 'user', params: {id: 1} }">用户1</router-link>
        <router-link :to="{name: 'user', params: {id: 2} }">用户2</router-link>
        <router-view></router-view>
      </div>
    `
  }

  Vue.prototype.$axios = axios
  new Vue({
    el: '#app',
    components: {
      App,
    },
    template: `<App />`,
    router,
  })
</script>
</body>
</html>